{% extends 'base.html' %}

{% block title_block %}
    Add a Category
{% endblock %}

{% block body_block %}
<h1>Add a Category</h1>
<div> 
    <form id="CategoryForm" class="col-8" method="post" action="/LMS/add_category/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %} 
            {{ hidden }} 
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group row">
                <label for="id_{{field.name}}" class="col-3 col-form-label">{{ field.help_text }}</label>
                <div class="col-5">
                    <div class="">{{field}}</div>
                    <div class="invalid-feedback">{{ field.errors }}</div>
                </div>
            </div>
        {% endfor %}
        <input type="submit" name="submit" class="btn btn-primary" value="Create category" /> 
        <a href="{% url 'LMS:staff_page' %}" class="btn btn-secondary">Back to staff page</a>
    </form> 
</div>
{% endblock %}