{% extends 'base.html' %}

{% block title_block %}
    Add Staff
{% endblock %}

{% block body_block %}
{% if registered %}
<div class="alert alert-success" role="alert">
  You have added a new member of Staff successfully! <a href="{% url 'LMS:staff_page' %}">Return to Staff Page.</a></p>
</div>
<a href="{% url 'LMS:staff_page' %}">Staff Page</a></p>
{% else %}
<div class="row">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Sign up</button>
      </form>
</div>
{% endif %}
{% endblock %}
    
