{% extends 'base.html' %}

{% block title_block %}
    Add a Book
{% endblock %}

{% block body_block %}
    <div class="py-5 text-center">
        <h1>Add a book</h1>
    </div>

    <form id="BookForm" method="post" action="/LMS/add_book/" class="col-8">
        {% csrf_token %}
        {% for field in form %}
            {% if field not in form.hidden_fields %}
                <div class="form-group row">
                    <label for="id_{{field.name}}" class="col-3 col-form-label">{{ field.label }}</label>
                    <div class="col-5">
                        {{field}}
                        <div class="invalid-feedback">{{ field.errors }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if form.errors %}
            {% for field in form %}
                <div class="row">
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

        <input type="submit" name="submit" class="btn btn-primary" value="Create Book" /> 
        <a href="{% url 'LMS:staff_page' %}" class="btn btn-primary">Staff Page</a>
    </form> 
{% endblock %}