<!DOCTYPE html>
<html>
    <head>
        <title>
            LMS -
            {% block title_block %}
                Library Management System!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                <li><a href="{% url 'LMS:search' %}">Search</a></li>
                <li><a href="{% url 'LMS:browse' %}">Browse</a></li>
                <li><a href="{% url 'LMS:register' %}">Sign Up</a></li>
                <li><a href="{% url 'LMS:login' %}">Login</a></li>
                <li><a href="{% url 'LMS:home' %}">Home</a></li>
                <li><a href="{% url 'LMS:add_category' %}">Add Category</a></li>
                <li><a href="{% url 'LMS:add_book' %}">Add Book</a></li>
                <li><a href="{% url 'LMS:add_staff' %}">Add Staff</a></li>
            </ul>
        </div> 
    </body>
</html>
