{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Browse
{% endblock %}

{% block body_block %}
<div class="row justify-content-center">
    <div class="py-3 text-center">
        <h3>Choose a category to browse</h3>
    </div>
</div>
    <ul>
        {% if categories %}
        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item">
                 <a href="/LMS/category/{{ category.slug }}/">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
             <strong>There are no categories present.</strong>
        {% endif %}
        </ul>
{% endblock %}