{% extends 'base.html' %}

{% block title_block %} 

{% if category %} 
    {{ category.name }} Browser 
{% else %} 
    No Category 
{% endif %}
{% endblock %}


{% block body_block %}
    <div>
        {% if category %}
            <h1 class="row my-3">{{ category.name }}</h1>
            <div class="row">
                {% if books %}
                    <ul class="col list-group">
                    {% for book in books %}
                        <li class="list-group-item list-group-item-action">
                            {{ forloop.counter }}. <a href="{% url 'LMS:isbn_num' book.ISBN %}">{{ book.title }}</a>
                            <p class="text-muted">by {{ book.author }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <strong>No books currently in category.</strong>
                {% endif %}
            </div>
        {% else %} 
            <strong>The specified category does not exist.</strong>
        {% endif %}
    </div>
{% endblock %}
