{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
Change Password
{% endblock %}

{% block body_block %}
    <div class="py-5 text-center">
        <h1>Register for Library</h1>
    </div>

    <form method="post" class="col-8">
        {% csrf_token %}

            {% for field in form %}
                <div class="form-group row">
                    <label for="id_{{field.name}}" class="col-3 col-form-label">
                        {{ field.label }}
                    </label>
                    <div class="col-5">
                        {{field}}
                        <div class="invalid-feedback">{{ field.errors }}</div>
                    </div>
                </div>
            {% endfor %}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        <input type="submit" name="submit" class="btn btn-primary my-2" value="Change Password" /> 
    </form>
{% endblock %}