{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<br/>
    <div class="row justify-content-center py-1">
        <div class="col-12">
            <h1 class="text-center">Welcome to Oakwood Library</h1>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-center">Welcome Back, {{ user.username }}.</h3>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-center">Log in to take out books.</h3>
            </div>
        </div>

        <div class="row justify-content-center py-4">
            <a type="button" class="btn btn-outline-primary col-2 mx-1" href="{% url 'LMS:login' %}">Log in</a>
            <a type="button" class="btn btn-outline-primary col-2 mx-1" href="{% url 'LMS:register' %}">Register</a>
        </div>
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class = "alert alert-success">
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            </div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-6 p-3">
            <h3 class="text-center mb-3 mt-1">Popular Categories</h3>
            <!-- Prints all Categories -->
           {% if categories %}
           <ul class="list-group">
               {% for category in categories %}
               <li class="list-group-item">
                    <a href="/LMS/category/{{ category.slug }}/">{{ category.name }}</a>
               </li>
               {% endfor %}
           </ul>
           {% else %}
                <strong>There are no categories present.</strong>
           {% endif %}
        </div>
        <div class="col-6 p-3">
            <h3 class="text-center mb-3 mt-1">Popular Books</h3>
            {% if books %}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genre</th>
                  </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td><a href="{% url 'LMS:isbn_num' book.ISBN %}">{{ book.title }}</a></td>
                        <td>{{book.author}}</td>
                        <td>{{book.genre}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <strong>There are no books present.</strong>
            {% endif %}
        </div>
    </div>


{% endblock %}