{% extends 'base.html' %}

{% block title_block %} 

    {% if isbn %} 
        {{ isbn.title }} 
    {% else %} 
        No Book
    {% endif %}
{% endblock %}


{% block body_block %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class = "alert alert-success">
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if isbn %}
        <div class="row my-3 mh-auto p-3">
            <div class="col">
                <table class="table" >
                <tbody>
                    <tr>
                        <td>ISBN:</td>
                        <td>{{isbn.ISBN}}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>{{isbn.category}}</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>{{isbn.title}}</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>{{isbn.author}}</td>
                    </tr>
                    <tr>
                        <td>Genre</td>
                        <td>{{isbn.genre}}</td>
                    </tr>
                    <tr>
                        <td>Views:</td>
                        <td>{{isbn.views}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div class="row m-auto p-3">
            <div class="col">
                {% if books %}
                    <table class="table my-5">
                        <thead>
                            <tr>
                            <th scope="col w-60">Book ID</th>
                            <th scope="col w-20">Location</th>
                            {% if not staff %}
                            <th scope="col w-20">Loan</th>
                            {% endif %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for book in books %}
                                <tr>
                                    <td>{{ book.pk_num }}</td>
                                    <td>{{ book.location }}</td>
                                    {% if not staff %}
                                        {% if book.taken_out %}
                                            <td>Book on loan.</td>
                                        {% elif limit %}
                                            <td>Reached book limit</td>
                                        {% elif user.is_authenticated %}
                                            <td>
                                                <form id="LoanForm" method="post" action="{% url 'LMS:isbn_num' isbn.ISBN %}">
                                                    {% csrf_token %}
                                                    <input type="submit" name="loan:{{ book.pk_num }}" class="btn btn-primary" value="Loan" />
                                                </form>
                                            </td>
                                        {% else %}
                                            <td><a href="{% url 'LMS:login' %}?next={{ request.path|urlencode }}">Log in to loan this book</a></td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    {% else %}
        <strong>No information.</strong>
    {% endif %}
{% endblock %}
