{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<h3>Register for Library</h3>
{% if registered %}
Thank you for registering!
<a href="{% url 'home' %}">Return to the Homepage.</a><br />
{% else %}
<form id="UserForm" method="post" action="/register/"
    enctype="multipart/form-data">

    {% csrf_token %}
    {{ UserForm.as_p }}
    {% for hidden in form.hidden_fields %} 
            {{ hidden }} 
        {% endfor %} 
        {% for field in form.visible_fields %}
            <div class="form-group row">
                <label for="id_{{field.name}}" class="col-form-label col">{{ field.help_text }}</label>
                <div class="mb-3 ml-3 col">
                    <div class="">{{field}}</div>
                    <div class="invalid-feedback">{{ field.errors }}</div>
                </div>
            </div>
        {% endfor %} 
        <input type="submit" name="submit" class="btn btn-primary" value="Register" />

</form>
{% endif %} 
{% endblock %}