{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Returns
{% endblock %}

{% block body_block %}
<h1>Return a Book</h1>
{% if returned %}
<h2>Book returned!</h2>
{% endif %}
<br/>
<strong>List of Books</strong>
{% if books %}
<form id="ReturnForm" method="post" action="/LMS/returns/">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
            <th scope="w-50">Book Name</th>
            <th scope="w-30">Book ID</th>
            <th scope="w-20">Time Left</th>
            <th scope="w-10">Return</th>
            </tr>
        </thead>
        <tbody>
            {% for book, time_left in books %}
            <tr>
                <td>
                    {{ book.isbn.title }}
                </td>
                <td>
                    {{ book.pk_num }}
                </td>
                <td>
                    {{ time_left }} days
                </td>
                <td>
                    <input type="submit" name="return:{{ book.pk_num }}" class="btn btn-primary" value="Return" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% else %} 
    <br/>
    No books to return.
{% endif %}
{% endblock %}