{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <div class="card m-4 box-shadow col ">
        <div class="card-header">
            <h3>Search</h3>
        </div>
        <div class="card-body"></div>
            <input id="search" name="search" placeholder="Search" class="form-control">
            <select id="options" name="options" class="form-control">
                <option value="1">Genre</option>
                <option value="2">Title</option>
                <option value="3">Author</option>
                <option value="4">ISBN</option>
            </select>
        </div>
    </div>
<div id="dynamic_content" class="col-6">
        {% include 'results.html' %}
</div>
<script type="text/javascript" src="{% static "javascript/main.js" %}"></script>
{% endblock %}