{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Staff Page
{% endblock %}

{% block body_block %}
<center>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="py-5 text-center">
        <h1>Register for Library</h1>
    </div>
    <form>
        <div class="row m-5">
            <div class= "mb-3 ml-3 col">
                <button formaction="{% url 'LMS:add_category' %}" class="btn btn-primary">Add a New Category</button>
            </div>
            <div class= "mb-3 ml-3 col">
                <button formaction="{% url 'LMS:add_staff' %}" class="btn btn-primary">Add a New Staff Member</button>
            </div>
            <div class= "mb-3 ml-3 col">
                <button formaction="{% url 'LMS:add_book' %}" class="btn btn-primary">Add a New Book</button>
            </div>
        </div>
        <div class="row m-5">
            <div class= "mb-3 ml-3 col">
                <button formaction="{% url 'LMS:extend_loan' %}" class="btn btn-primary">Extend Loans</button>
            </div>
        </div>
    </form>
    {% if books %}
        <table class="table">
            <thead>
                <tr>
                    <h2>Books to put back in place</h2>
                </tr>
                <tr>
                <th scope="w-50">Book ID</th>
                <th scope="w-30">Location</th>
                {% if user.is_authenticated %}
                <th scope="w-20">Back in</th>
                {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.pk_num }}</td>
                        <form id="BackInForm" method="post" action="{% url 'LMS:staff_page' %}">
                        {% csrf_token %}
                        <td>
                            <input type="text" name="location" value="{{ book.location }}" />
                        </td>
                        <td>
                            <input type="submit" name="back_in:{{ book.pk_num }}" class="btn btn-primary" value="Back in" />
                        </td>
                        </form>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</center>
{% endblock %}