{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Staff Page
{% endblock %}

{% block body_block %}
<center>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="py-5 text-center">
        <h1>Register for Library</h1>
    </div>
    <form>
        <div class="row m-5">
            <div class= "mb-3 ml-3 col">
                <button formaction="{% url 'LMS:add_category' %}" class="btn btn-primary">Add a New Category</button>
            </div>
            <div class= "mb-3 ml-3 col">
                <button formaction="{% url 'LMS:add_staff' %}" class="btn btn-primary">Add a New Staff Member</button>
            </div>
            <div class= "mb-3 ml-3 col">
                <button formaction="{% url 'LMS:add_book' %}" class="btn btn-primary">Add a New Book</button>
            </div>
        </div>
        <div class="row m-5">
            <!-- Add future buttons here -->
        </div>
    </form>
</center>
{% endblock %}